@if (href) {
  <a
    [href]="href"
    [target]="target"
    [class]="menuItemClass"
    [attr.rel]="isExternalLink() ? 'noopener noreferrer' : null"
    [attr.aria-disabled]="disabled"
    [attr.aria-current]="active ? 'page' : null"
  >
    @if (iconHtml) {
      <span [innerHTML]="iconHtml"></span>
    }

    @if (label) {
      <span class="flex-grow">{{ label }}</span>
    }
  </a>
} @else {
  <a
    [routerLink]="disabled ? null : routerLink"
    [queryParams]="queryParams"
    [class]="menuItemClass"
    [routerLinkActive]="active ? activeClass : ''"
    [attr.aria-disabled]="disabled"
    [attr.aria-current]="active ? 'page' : null"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <ng-content></ng-content>

    @if (label) {
      <span class="flex-grow">{{ label }}</span>
    }
  </a>
}
