<div class="flex space-x-4 capitalize text-sm pb-2">
    <div class="flex space-x-2 items-center" routerLinkActive="text-blue-600"
        [routerLinkActiveOptions]="{ exact: true }">
        <app-link-icon></app-link-icon>
        <a class="cursor-pointer" routerLink="/dash">links</a>
    </div>
    <div class="flex space-x-2 items-center" routerLinkActive="text-blue-600"
        [routerLinkActiveOptions]="{ exact: true }">
        <app-setting-icon></app-setting-icon>
        <a class="cursor-pointer" routerLink="/dash/settings">settings</a>
    </div>
</div>