<div class="flex space-x-4 capitalize text-sm pb-2">
  <div
    class="flex space-x-2 items-center"
    routerLinkActive="text-blue-600"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="icon-[material-symbols--link]"></span>
    <a class="cursor-pointer" routerLink="/dash">links</a>
  </div>
  <div
    class="flex space-x-2 items-center"
    routerLinkActive="text-blue-600"
    [routerLinkActiveOptions]="{ exact: true }"
  >
    <span class="icon-[material-symbols--settings]"></span>
    <a class="cursor-pointer" routerLink="/dash/settings">settings</a>
  </div>
</div>
