<div class="min-w-56 max-w-96 border-white border rounded-lg p-2 space-y-2">
    <div class="flex justify-between">
        <p>/{{ shortCode }}</p>
        <div class="flex items-center space-x-2">
            <p>
                @if (clickLimit) {
                {{ clicks }} / {{clickLimit}} clicks
                } @else {
                {{ clicks }} clicks
                }
            </p>
            <span>|</span>
            <div class="flex space-x-2">
                @if (isCopied) {
                <app-check-icon class="transition-opacity duration-500 opacity-100"></app-check-icon>
                } @else {
                <app-copy-icon class="transition-opacity duration-500 opacity-100"
                    (click)="copyToClipboard()"></app-copy-icon>
                }
                <app-setting-icon></app-setting-icon>
                <app-trash-icon (click)="removeShortUrl()"></app-trash-icon>
            </div>
        </div>
    </div>
    <p>{{ getFullUrl() }}</p>
    <div class="flex justify-end">
        <div class="flex items-center flex-col space-x-2">
            @if (startDate && endDate) {
            <span>start: {{ getFormattedDate(startDate) }} - {{ getFormattedTime(startDate) }}</span>
            <span>end: {{ getFormattedDate(endDate)}} - {{ getFormattedTime(endDate) }}</span>
            } @else if (startDate) {
            <span>start: {{ getFormattedDate(startDate) }} - {{ getFormattedTime(startDate) }}</span>
            } @else if (endDate) {
            <span>end: {{ getFormattedDate(endDate)}} - {{ getFormattedTime(endDate) }}</span>
            }
        </div>
        <p>{{ getFormattedDate(createdAt)}}</p>
    </div>
</div>