<div class="min-w-56 border-white border rounded-lg p-2 space-y-2">
  <div class="flex justify-between">
    <p>/{{ shortCode }}</p>
    <div class="flex items-center space-x-2">
      <p>
        @if (clickLimit) {
          {{ clicks }} / {{ clickLimit }} clicks
        } @else {
          {{ clicks }} clicks
        }
      </p>
      <span>|</span>
      <div class="flex space-x-2">
        @if (isCopied) {
          <span class="icon-[material-symbols--check] size-5"></span>
        } @else {
          <span
            class="icon-[material-symbols--file-copy] size-5 opacity-100 hover:opacity-70 transition-opacity duration-300"
            (click)="copyToClipboard()"
          ></span>
        }
        <span
          class="icon-[material-symbols--settings] size-5 opacity-100 hover:opacity-70 transition-opacity duration-300"
        ></span>
        <span
          class="icon-[bxs--trash] size-5 opacity-100 hover:opacity-70 transition-opacity duration-300"
          (click)="openDeleteModal()"
        ></span>
      </div>
    </div>
  </div>
  <p>{{ getFullUrl() }}</p>
  <div class="flex justify-between">
    <div class="flex items-center flex-col space-x-2">
      @if (startDate || endDate) {
        <span
          class="icon-[mdi--clock] cursor-pointer size-5 opacity-100 hover:opacity-70 transition-opacity duration-300"
          (click)="openDateModal()"
        ></span>
      }
    </div>
    <p>{{ getFormattedDate(createdAt) }}</p>
  </div>
</div>
