<div class="w-96 border-white border rounded-lg p-2 space-y-2">
    <div class="flex justify-between">
        <p>{{ shortCode }}</p>
        <div class="flex items-center space-x-2">
            <p>{{ clicks }} clicks</p>
            <span>|</span>
            <div class="flex space-x-2">
                <app-copy-icon></app-copy-icon>
                <app-setting-icon></app-setting-icon>
                <app-trash-icon (click)="removeShortUrl()"></app-trash-icon>
            </div>
        </div>
    </div>
    <p>{{ fullUrl }}</p>
    <div class="flex justify-end">
        <p>{{ date }}</p>
    </div>
</div>