<!-- Modal -->
<div class="fixed inset-0 flex w-full bg-pink-200 items-center justify-center z-[100]">
    <div class="bg-white rounded-lg p-6 w-96 max-w-full shadow-lg transform transition-all duration-300">
        <!-- Modal Header -->
        <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
            <h2 class="text-2xl font-semibold">Create a new link</h2>
            <button  class="text-gray-500 hover:text-gray-700 focus:outline-none">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x">
                    <line x1="18" y1="6" x2="6" y2="18"></line>
                    <line x1="6" y1="6" x2="18" y2="18"></line>
                </svg>
            </button>
        </div>

        <!-- Modal Content -->
        <div class="mt-6 space-y-4">
            <label class="text-lg text-gray-600">Destination URL:</label>
            <input type="text" class="border border-gray-300 rounded-lg px-4 py-2 w-full" placeholder="https://example.com">
            <label class="text-lg text-gray-600">Short link:</label>
            <div class="flex"><input type="text" class="border border-gray-300 rounded-lg px-4 py-2 w-full" placeholder="https://example.com"> <div class="flex items-center space-x-2"><span>icon</span><p>randomize</p></div></div>
            <label class="text-lg text-gray-600">Description (optional):</label>
            <textarea class="border border-gray-300 rounded-lg px-4 py-2 w-full" placeholder="Description"></textarea>

        </div>

        <!-- Additional Information -->
        <div class="mt-6 text-sm text-gray-500">
            <p>Create a new project from scratch or import an existing project from your GitHub repository.</p>
        </div>
    </div>
</div>
