<!-- Modal -->
<div class="fixed inset-0 z-[100]">
    <!-- Background Overlay -->
    <div class="absolute inset-0 bg-black opacity-80"></div>

    <!-- Modal Content -->
    <div class="relative flex items-center justify-center h-full">
        <div class="bg-white rounded-lg p-6 w-96 max-w-full shadow-lg transform transition-all duration-300">
            <!-- Modal Header -->
            <div class="flex justify-between items-center border-b-2 border-gray-200 pb-4">
                <h2 class="text-2xl font-semibold">Create a new link</h2>
                <button class="text-gray-500 hover:text-gray-700 focus:outline-none">
                    <svg (click)="closeModal()" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                        viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
                        stroke-linejoin="round" class="feather feather-x">
                        <line x1="18" y1="6" x2="6" y2="18"></line>
                        <line x1="6" y1="6" x2="18" y2="18"></line>
                    </svg>
                </button>
            </div>

            <!-- Modal Content -->
            <form [formGroup]="createNewLinkForm" (ngSubmit)="onSubmit()" novalidate class="mt-6 space-y-4">
                <label class="text-lg text-gray-600">Destination URL:</label>
                <app-input formControlName="longUrl" placeholder="https://example.com" type="text"></app-input>
                <label class="text-lg text-gray-600">Short link:</label>
                <div class="flex">
                    <app-input formControlName="shortCode" placeholder="code" type="text"></app-input>
                    <app-link variant="secondary" class="rounded"
                        name="randomize"><app-shuffle-icon></app-shuffle-icon></app-link>
                </div>
                <div>
                    <label class="text-lg text-gray-600">Temporal:</label>
                    <div class="flex space-x-1">
                        <button>custom</button>
                        <button>none</button>
                    </div>
                    <div>
                        <label class="text-lg text-gray-600">Start:</label>
                        <input class="border" type="date">
                        <label class="text-lg text-gray-600">End:</label>
                        <input class="border" type="date">
                    </div>


                </div>
                <label class="text-lg text-gray-600">Clicks:</label>
                <label class="text-lg text-gray-600">Description (optional):</label>
                <textarea class="border border-gray-300 rounded-lg px-4 py-2 w-full"
                    placeholder="Description"></textarea>
                <app-button class="justify-self-center" type="submit" name="create">
                </app-button>
            </form>
        </div>
    </div>
</div>