<form [formGroup]="loginForm" (submit)="onSubmit()" novalidate class="mb-4">
  <div class="grid gap-2">
    <div class="grid gap-1">
      <label class="text-white" for="email">Email</label>
      <app-input
        formControlName="email"
        placeholder="name@example.com"
        type="email"
      ></app-input>
      @if (email.invalid && email.touched) {
        <div class="text-red-500 text-sm mt-1">
          @if (email.hasError('required')) {
            <span>Email is required</span>
          }
          @if (email.hasError('email')) {
            <span>Please enter a valid email</span>
          }
        </div>
      }

      <label class="text-white mt-2" for="password">Password</label>
      <app-input
        formControlName="password"
        placeholder="Password"
        type="password"
      ></app-input>
      @if (password.invalid && password.touched) {
        <div class="text-red-500 text-sm mt-1">
          @if (password.hasError('required')) {
            <span>Password is required</span>
          }
          @if (password.hasError('minlength')) {
            <span>Password must be at least 6 characters</span>
          }
        </div>
      }
    </div>

    @if (errorMessage) {
      <div class="text-red-500 text-center mt-2">
        {{ errorMessage }}
      </div>
    }

    <app-button class="justify-self-center" type="submit" name="Login">
    </app-button>
  </div>
</form>
