<div class="flex items-center justify-between py-3">
    <div class="flex gap-2 items-center group text-gray-500 hover:text-[#F95BA4]">
        <app-heart-icon svgClass="size-4 fill-current transition-colors duration-300"></app-heart-icon>
        <p class="group-hover:opacity-70 transition-opacity duration-300 hover:text-gray-500">Made by <span
                class="text-[#F95BA4]">Monosen</span></p>
    </div>
    <a href="https://www.linkedin.com/in/edinson-bola%C3%B1os-dp/" target="_blank"
        class="flex items-center gap-2 hover:opacity-70 transition-opacity duration-300">
        <app-linkedin-icon svgClass="size-4"></app-linkedin-icon>
        <span class="capitalize">linkedin</span>
    </a>
</div>