<div class="flex items-center justify-between py-3">
    <div class="flex gap-2 items-center group">
        <app-heart-icon svgClass="size-4 group-hover:fill-[#F95BA4] transition-colors duration-300"></app-heart-icon>
        <p class="group-hover:opacity-70 transition-opacity duration-300">Made by <span class="text-[#F95BA4]">Monosen</span></p>
    </div>
    <a href="https://www.linkedin.com/in/edinson-bola%C3%B1os-dp/" target="_blank" class="flex items-center gap-2 hover:opacity-70 transition-opacity duration-300">
        <app-linkedin-icon svgClass="size-4"></app-linkedin-icon>
        <span class="capitalize">linkedin</span>
    </a>
</div>