<div class="bg-black p-3 mt-4 flex flex-col">
    <h4>general</h4>
    <p>Update your personal information:</p>

    <label>Your name:</label>
    <app-input placeholder="email" type="email"></app-input>
    <label>Your email:</label>
    <app-input placeholder="name" type="text"></app-input>
</div>

<div class="bg-black p-3 mt-4 flex flex-col">
    <h4>account</h4>
    <p>Update your account settings:</p>

    <label>Delete account:</label>

    <app-button
        type="submit"
        name="Delete account">
    </app-button>
</div>
