<div
  class="bg-black p-3 mt-4 flex flex-col border border-gray-300 rounded-lg py-5"
>
  <h4 class="text-4xl capitalize">general</h4>
  <p class="text-sm text-gray-400">Update your personal information:</p>

  <label class="mt-3">Your name:</label>
  <app-input placeholder="email" type="email"></app-input>
  <label class="mt-3">Your email:</label>
  <app-input placeholder="name@name.com" type="text"></app-input>
</div>

<div
  class="bg-black p-3 mt-4 flex flex-col border border-gray-300 rounded-lg py-5"
>
  <h4 class="text-4xl capitalize">account</h4>
  <p class="text-sm text-gray-400">Update your account settings:</p>

  <label class="mt-3">Delete account:</label>

  <app-button type="submit" name="Delete account"> </app-button>
</div>
