<form [formGroup]="createNewLinkForm" (ngSubmit)="onSubmit()" novalidate class="mt-6 space-y-4">
    <label class="text-lg text-gray-600">Destination URL:</label>
    <app-input formControlName="longUrl" placeholder="https://example.com" type="text"></app-input>
    <label class="text-lg text-gray-600">Short link:</label>
    <div class="flex">
        <input type="text" formControlName="shortCode" placeholder="code" class="border rounded-l px-2 py-1 w-full" />
        <button type="button" (click)="getRandomCode()"
            class="flex items-center justify-center space-x-1 px-3 py-2 bg-blue-600 hover:bg-blue-600 text-gray-800 rounded-r transition-colors duration-200">
            <app-shuffle-icon></app-shuffle-icon>
            <span class="text-sm font-medium">Random</span>
        </button>
    </div>
    <div>
        <label class="text-lg text-gray-600">Temporal:</label>
        <div class="flex space-x-1">
            <button type="button" (click)="toggleDateType('custom')" [class.bg-blue-500]="isCustomDate"
                [class.text-white]="isCustomDate" class="px-4 py-2 rounded">custom</button>
            <button type="button" (click)="toggleDateType('none')" [class.bg-blue-500]="!isCustomDate"
                [class.text-white]="!isCustomDate" class="px-4 py-2 rounded">none</button>
        </div>
        @if (isCustomDate) {
        <div class="space-y-4">
            <div>
                <label class="text-lg text-gray-600">Start:</label>
                <div class="flex space-x-2">
                    <input class="border rounded px-2 py-1" type="date" formControlName="startDate">
                    <app-time-picker formControlName="startTime"></app-time-picker>
                </div>
            </div>
            <div>
                <label class="text-lg text-gray-600">End:</label>
                <div class="flex space-x-2">
                    <input class="border rounded px-2 py-1" type="date" formControlName="endDate">
                    <app-time-picker formControlName="endTime"></app-time-picker>
                </div>
            </div>
        </div>
        }
    </div>

    <div>
        <label class="text-lg text-gray-600">Clicks:</label>
        <div class="flex space-x-1">
            <button type="button" (click)="toggleClickType('custom')" [class.bg-blue-500]="isCustomClick"
                [class.text-white]="isCustomClick" class="px-4 py-2 rounded">custom</button>
            <button type="button" (click)="toggleClickType('none')" [class.bg-blue-500]="!isCustomClick"
                [class.text-white]="!isCustomClick" class="px-4 py-2 rounded">none</button>
        </div>
        @if (isCustomClick) {
        <div>
            <label class="text-lg text-gray-600">Limit:</label>
            <div class="flex flex-col space-y-1">
                <input class="border rounded px-2 py-1" type="number" formControlName="clickLimit" min="1"
                    placeholder="Enter number of clicks">
                @if (createNewLinkForm.get('clickLimit')?.errors?.['min']) {
                <span class="text-red-500 text-sm">El límite debe ser mayor a 0</span>
                }
                @if (createNewLinkForm.get('clickLimit')?.errors?.['pattern']) {
                <span class="text-red-500 text-sm">Solo se permiten números</span>
                }
            </div>
        </div>
        }
    </div>

    <label class="text-lg text-gray-600">Description (optional):</label>
    <textarea class="border border-gray-300 rounded-lg px-4 py-2 w-full" placeholder="Description"></textarea>
    <app-button class="justify-self-center" type="submit" name="create">
    </app-button>
</form>