<div class="relative flex justify-end">
  <button (click)="toggleDropdown()" class="btn btn-primary cursor-pointer">
    <span class="iconify-[mdi--user] size-6"></span>
  </button>
  @if (showDropdown) {
    <div
      class="min-w-44 absolute z-40 bg-black mt-7 border-gray-600 border rounded-lg p-3 flex flex-col gap-y-2 capitalize"
    >
      <app-menu-item label="My Profile">
        <span class="iconify-[mdi--user]"></span>
      </app-menu-item>
      <app-menu-item
        label="Settings"
        routerLink="/dash/settings"
        [active]="true"
      >
        <span class="iconify-[material-symbols-light--settings-rounded]"></span>
      </app-menu-item>
      <app-menu-item
        label="Report a Bug"
        href="https://github.com/Monosen/golink/issues/new"
        target="_blank"
      >
        <span class="iconify-[mdi--bug]"></span>
      </app-menu-item>
      <app-menu-item
        customClass="cursor-pointer"
        label="Log Out"
        (click)="authService.logout()"
      >
        <span class="iconify-[material-symbols--logout]"></span>
      </app-menu-item>
    </div>
  }
</div>
